<div class="content">
  <button mat-button>Click Me!</button>
  <button mat-raised-button>Click Me!</button>
  <button mat-flat-button>Click Me!</button>
  <button mat-stroked-button>Click Me!</button>
  <hr/>
  <button mat-icon-button>Icon</button>
  <button mat-fab>Fab</button>
  <button mat-mini-fab>Mini</button>
  <hr />
  <button mat-stroked-button color="primary">Primary</button>
  <button mat-stroked-button color="accent">Accent</button>
  <button mat-stroked-button color="warn">Warn</button>
  <hr />
  <button mat-raised-button color="primary">Primary</button>
  <button mat-raised-button color="accent">Accent</button>
  <button mat-raised-button color="warn">Warn</button>
  <hr />
  <mat-button-toggle #btnToggle>
    Toggle
  </mat-button-toggle>
  {{ btnToggle.checked }}
</div>
