<div class="content">
  <div>
    <button
      mat-raised-button
      matTooltip="Click Here"
      matTooltipPosition="after"
    >
      Hello
    </button>
  </div>
  <mat-divider></mat-divider>
  <div class="align-right">
  <button
    mat-raised-button
    matTooltip="Click Here"
    matTooltipPosition="above"
  >
    Hello
  </button>
  </div>
  <mat-divider></mat-divider>
  <div class="align-right">
  <button
    mat-raised-button
    matTooltip="Click Here"
    matTooltipPosition="before"
  >
    Hello
  </button>
  </div>
  <mat-divider></mat-divider>
  <div>
    <button
      mat-raised-button
      matTooltip="Click Here"
      matTooltipPosition="after"
      matTooltipShowDelay="2000"
      matTooltipHideDelay="2000"
    >
      Hello
    </button>
  </div>
  <mat-divider></mat-divider>
</div>
