<div class="content">
  <mat-checkbox>Subscribe</mat-checkbox>
  <mat-divider></mat-divider>
  <mat-checkbox labelPosition="before">Subscribe</mat-checkbox>
  <mat-divider></mat-divider>
  <mat-checkbox color="primary">Subscribe</mat-checkbox>
  <mat-divider></mat-divider>
  <mat-checkbox color="accent">Subscribe</mat-checkbox>
  <mat-divider></mat-divider>
  <mat-checkbox color="warn">Subscribe</mat-checkbox>
  <mat-divider></mat-divider>

  <mat-radio-group>
    <mat-radio-button value="angular" color="primary">Angular</mat-radio-button>
    <mat-radio-button value="react">React</mat-radio-button>
    <mat-radio-button value="vue" color="warn">Vue</mat-radio-button>
  </mat-radio-group>
</div>
