<div class="content">
  <mat-accordion multi="false">
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Angular Essentials
        </mat-panel-title>
        <mat-panel-description>
          Total Duration: 16 Hours
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat.</p>
      <mat-action-row>
        <button mat-raised-button color="primary">Action</button>
      </mat-action-row>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Angular Material
        </mat-panel-title>
        <mat-panel-description>
          Total Duration: 32 Hours
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat.</p>
      <mat-action-row>
        <button mat-raised-button color="primary">Action</button>
      </mat-action-row>
    </mat-expansion-panel>
  </mat-accordion>
</div>
