<div class="content">
  <mat-card>
    <mat-card-title>
      Title
    </mat-card-title>
    <mat-card-content>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
      magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
      consequat.
    </mat-card-content>
    <mat-card-actions align="end">
      <button mat-raised-button>Action</button>
    </mat-card-actions>
  </mat-card>
</div>
