.content {
  padding: 20px;
  height: calc(100vh - 200px);
}

mat-sidenav-container{
  height: 100%;
}

mat-sidenav, mat-sidenav-content{
  padding: 20px;
}

mat-sidenav{
  background-color: #000000;
  color: #ffffff;
  width: 200px;
}
